@model MenuItemViewModel
@{
    ViewData["Title"] = "Edit";
  
 
}

<h1>Edit</h1>
<br />
<form asp-action="Edit" enctype="multipart/form-data">
   <input hidden asp-for="Id" value="@Model.Id" />

  
    <partial name="PartialViews/CreateEditPartial" />


    <input type="submit" class="btn btn-primary mt-3" value="Save" />
    <a asp-action="Index" class="btn btn-light mt-3">Back to List</a>
</form>

@section ValidationScriptSection {
    <partial name="_ValidationScriptsPartial" />
}
​

    <input hidden asp-for="Id" value="@Model.Id" />