@model LoginViewModel
@{
    ViewData["Title"] = "Login";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="Login" method="post">
			<div asp-validation-summary="All"></div>


			<input class="text" asp-for="@Model.Email" placeholder="Email" required="">
			<span asp-validation-for="Email" class="text-danger"></span>
			<br />
			<input class="text" asp-for="@Model.Password" placeholder="Password" required="">
			<span asp-validation-for="Password" class="text-danger"></span>

			<br />
			<div class="wthree-text">
				<label class="anim">
					<input asp-for="@Model.RememberMe" class="checkbox" required="">
					<span>Keep me Signed IN</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNIN">
		</form>
		<p>Don't have an Account? <a asp-action="Register"> Register Now!</a></p>
		<p>Forget Password ! <a asp-action="ForgetPassword"> ForgetPassword!</a></p>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
