@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
<div class="agileits-top">
        <form action="ResetPassword" method="post">
          <div asp-validation-summary="All"></div>

            <input type="password" name="NewPassword" placeholder="New Password" required="">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        <br/>
            <input type="password" name="ConfirmNewPassword" placeholder="Confirm New Password" required="">
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>

        <input type="submit" value="Reset">
        </form>
</div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

