@model RolesViewModel
<div class="form-group">
    <label asp-for="@Model.RoleName" Iclass="col-form-label"></label>
    <input readonly asp-for="@Model.RoleName" class="form-control" />
   
</div>
<br />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}